<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.byw.flashcard.mapper.ColorMapper">
    <resultMap id="ColorResultMap" type="com.byw.flashcard.pojo.Color" >
        <result column="id" property="id" />
        <result column="color" property="color" />
    </resultMap>
    <!--查询所有图形-->
    <select id="findAllColor" resultType="java.lang.String">
      select color
      from color
    </select>
</mapper>